body {
  background: url(img/bg.svg), linear-gradient(to bottom, #485477 0%, #101623 100%) center center no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

#app {
  color: white;
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}