body {
  background: url(img/bg.svg), linear-gradient(to bottom, #485477 0%, #101623 100%) center center no-repeat;
  -webkit-background-blend-mode: multiply, multiply;
  background-blend-mode: multiply, multiply;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

header {
  position: relative;
  .closeNavBtn {
    position: absolute;
    right: 0px;
    font-size: 2em;
  }
}

h3 {
  font-size: 15px;
}

.frontLogin {
  cursor: pointer;
  border: none;
  background: none;
  color: #337ab7;
  padding: 0px;
  &:focus{
    outline: none;
  }
  &:hover {
    color: #23527c;
    text-decoration: underline;
 }
}

#app {
  color: white;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: none;
    outline-offset: 0;
}

.navbar-collapse,
.collapsing {
  will-change: transform;
  transform: translateZ(0);
}

.panel {
  color: $text-color;
  text-align: center;
  max-width: 340px;
  margin: 50px auto;
  padding: 50px;
  background: linear-gradient(135deg, #ffffff 0%,#c4d7ed 100%);
}

.modal {
  .close {
    position: absolute;
    top: 15px;
    right: 20px;
    float: none;
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
