.lobby {
  //display: none;
  width: 100%;
  z-index: 999;
  color: $text-color;
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  // background: rgba(255,255,255,0.8);
  background: linear-gradient(135deg, #ffffff 0%,#c4d7ed 100%);
  h1 {
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
}

.active {
  // display: block;
  // position: absolute;
  // background: rgba(255,255,255,0.8);
}

.lobby--room {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;

  &:after {
    display: block;
    content: '';
    padding-top: 10px;
    border-bottom: 1px dashed rgba(0,0,0,0.3);
  }
}

.lobby--bg {
  cursor: default;
}

.playlist--bg {
  cursor: default;
}

button.close.closeNavBtn:focus {
  outline: none;
}

.lobby--newRoom {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
}

.lobby--newRoomForm {
  display: flex;
  button {
    width: 100px;
    margin-left: 15px;
  }
}

.lobby--roomWrapper {
  display: flex;
  justify-content: space-between;
}

.lobby--roomName {
  padding-top: 10px;
}

.lobby--join {
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;

  button {
    margin-left: 10px;
  }
}

.roomcount {
  background-color: #fff;
  margin-left: 10px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
  flex-shrink: 0;
  padding: 0 7px;
  cursor: default;
}

.active-dj-slot {
  margin-left: 4px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #0061ff;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.empty-dj-slot {
  margin-left: 4px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;
  background: rgba(0,0,0,0.15) url(img/user.svg) bottom center no-repeat;
}

.lobby--bg {
    background: transparent;
    position: absolute;
    left: 0;
    height: 0vh;
    width: 100vw;
    border: none;
    outline: none !important;
}

.lobby.collapse.in {
    .lobby--bg {
      height: 50vh;
    }
}
