.navbar {
  background: rgba(0,0,0,0.7);
  border-radius: 0;
  margin-bottom: 0;
  border-color: #000000;

  button,
  .btn-nav:focus {
    padding: 16px 12px;
    border-radius: 0;
    border: none;
    background: none;
    color: #9a9a9a;
  }


  .btn-nav[aria-expanded='true'],
  .btn-nav:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.navbar-default .navbar-collapse {
  border-color: black;
}

.navbar-brand {
  padding-left: 57px;
  position: relative;
}

.navbar-brand img {
  display: inline-block;
  width: 35px;
  position: absolute;
  left: 15px;
  top: 7px;
}

.navbar--signedIn {
  padding: 15px 0 15px 15px;
  cursor: default;
}
