.playlist {
  // display: none;
  width: 100%;
  z-index: 999;
  color: darkblue;
  position: absolute;
  background: rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(10px);
}

.playlist.active {
  // display: block;
  // position: absolute;
  // background: rgba(255,255,255,0.8);
}

.list-unstyled:hover {
    text-decoration: underline;
    cursor: pointer;
    color: darkblue;
}

.remove-btn {
  border: none;
  background: none;
  color: red;
  padding-right: 12px;
  outline: none;
}

.remove-btn:hover {
  cursor: pointer;
}

.playlist--playlist--track:hover{
  text-decoration: none;
  cursor: default;
}

.firstTrack {
  font-weight: bold;
}

.savePlaylist-btn{
  font-size: 14px;
}
