.profile {
  //display: none;
  width: 100%;
  z-index: 999;
  color: $text-color;
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  padding-bottom: 20px;
  // background: rgba(255,255,255,0.8);
  background: linear-gradient(135deg, #ffffff 0%,#c4d7ed 100%);
  h1 {
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
}

.profile--colorPicker {
    background: #fff url(img/no-color.svg) 5px 0px no-repeat;
    background-size: 50px 30px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 62px;
    height: 33px;
    /* background: white; */
    position: relative;
    top: 12px;

  input {
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    position: absolute;
    /* opacity: .25; */
    // display: none;
    left: 0;
    top: 0;
  }
}

.profile .btn {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  img {
    max-width: 100px;
  }
}

.profile .panel {
  background: white;
  margin: 20px auto;
  padding: 15px;
  max-width: inherit;
  text-align: left;
}

.profile .canvas-container {
  margin: 30px auto;
}

.clip {
  border-radius: 50%;
}