h1 {
  font-size: 24px;
}

.stage {
  background: rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 20px;
  animation: fade .35s;
}

.stage--djs {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
  z-index: 998;
}

.vote--meter {
  p {
    margin: 0;
  }

  .progress {
    background: rgba(55, 72, 109, 0.35);
  }
}

.dj--seat {
  width: 100px;
  height: 100px;
  margin: 20px 10px;
  box-sizing: border-box;
  // border: 3px solid black;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}

.dj--seat.current {
    box-shadow: 0px 0px 20px #0061ff;
    border: 1px solid black;
  &:after {
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 4px dashed #009aff;
    // background: #002a6e;
    will-change: transform;
    animation: spin 1.5s infinite linear;
  }
}

.dj--seat.empty {
  background: rgba(0,0,0,0.5) url(img/user.svg) bottom center no-repeat;
}

.dj--avatar {
  img {
    width: 100%;
    height: auto;
  }
}

.player {
  overflow: auto;
  position: relative;
  z-index: 998;
  background: rgba(0,0,0,0.53);
  padding-right: 15px;
}

.player--image {
  max-width: 100%;
  height: auto;
  float: left;
  margin: 0 15px 0 0;
}

.player--artist {
  font-size: 1.3em;
}

.player--track {
  font-size: 1em;
  margin-top: 0;
}

.player--progress {
  background: rgba(55, 72, 109, 0.35);
  height: 10px;
  margin-bottom: 0;
}



.vote {
  // padding: 10px;
  // box-sizing: border-box;
  margin-top: 20px;
  clear: both;
}

.vote--btns {
  text-align: center;
}

.btn-round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.vote--djQueue {
  text-align: right;
}

.crowd {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0 50px;
  background: rgba(0,0,0,0.3);
  padding: 25px;
  border-radius: 20px;
  animation: fade .35s;
  animation-delay: .35s;
}

.crowd--user {
  position: relative;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin: 2px;
  &:hover {
    z-index: 999;
  }
}

.avatar {
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
  &:before {
    content: attr(data-likes);
    position: absolute;
    background: $brand-danger;
    color: white;
    border-radius: 10px;
    left: 65%;
    bottom: -5px;
    padding: 0px 6px;
    font-size: 10px;
    text-align: center;
    min-width: 14px;
    line-height: 17px;
    z-index: 999;
  }
}

.dj--avatar .avatar:before {
    padding: 1px 8px;
    font-size: 12px;
    line-height: 18px;
}

.avatar[data-likes='0'] {
  &:before {
    display: none;
  }
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: white;
  top: 1px;
}

.tooltip-inner {
  background: white;
  color: #222;
}
.visualizer {
  position: relative;
  height: 10px;
  margin-bottom: 40px;
}

#spectrum {
  display: flex;
  position: absolute;
  z-index: 888;
  top: -61px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  .bar {
    width: 6.25%;
    margin: 0 3px;
    height: 0%;
    background: linear-gradient(to top, #008BA0 0%, #FDE92B 59%, #FD0000 100%);
    background-size: 100% 150px;
    background-position: center center;
    will-change: height;
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
