@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
.navbar {
  border-radius: 0;
  button {
    padding: 16px 12px;
    border-radius: 0;
    border: none;
  }
}
.lobby {
  display: none;
}
.active {
  display: block;
}